html, body {
	margin: 0 auto;
	padding: 0;
	background-color: black;
	max-width: 800px;
	color: white;
}

#plot {
	width: 100%;
}

.container {
	position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
}

.container > * {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.info-container {
	width: 100%;
	text-align: center;
}

.info {
	display: inline-block;
    font-size: 40px;
    margin: 0 10px;
    background-color: #222;
    padding: 10px;
}

#play-pause {
	display: none;
}

#play-pause~.button:hover {
	background-color: #444;
}

#play-pause~.button {
	display: none;
	background-color: #222;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: 2px solid white;
	user-select: none;
	font-size: 20px;
}

#play-pause~.button>div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

#play-pause~.play {
	display: block;
}

#play-pause~.pause {
	display: none;
}

#play-pause:checked~.play {
	display: none;
}

#play-pause:checked~.pause {
	display: block;
}

#year-slider {
	width: 75%;
	max-width: 500px;
}

footer a {
	background-color: white;
	padding: 3px;
}

